#about_me {
    float: left ;
}
#om_mig {
    display: flex;
    min-height: 75px;
    border-style: solid;
    border-width: 0.05%;
    border-color: black;
    border-radius: 5px;
    margin: 2%;
    background-color: rgb(246, 223, 240);
}