p{
    font-style: italic;
    margin-bottom: 5%;
}
.info-area h3 {
    font-style: oblique;
    margin-top: 0.5%;
    padding: 0%;
    padding-right: 2%;
    text-align: right;
}

.anb {
    min-height: 75px;
    border-style: solid;
    border-width: 0.05%;
    border-color: black;
    border-radius: 5px;
    margin: 2%;
}