#cirtificate {
    max-width: 30%;
    max-height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#sideways_ {
    rotate: 90deg;
}
#aboutme {
    margin: 0%;
    max-width: clamp(6em,10%,20%);
    max-height: auto;
    display: block;
    float: right;
    padding: clamp(1%,1em,2em);
}

#thumbnail {
    object-fit:cover;
}