#index {
    display: flex;
    flex-direction: column;
}

.index_site {
    min-height: 75px;
    border-style: solid;
    border-width: 0.05%;
    border-color: black;
    border-radius: 5px;
}

#index {
    flex-direction: row;
}

#index a {
    width: 20%;
    padding: 0.5%;
}

.index_site {
    min-height: 300px;
}

.index_site>* {
    text-align: center;
}

.index_site {
    background-color: white;
}
.index_site:hover{
    background-color: rgba(202, 131, 171, 0.582);
}