
   #index {
        padding-top: clamp(0%, 50%, 5%);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .index_site {
        border-style: solid;
        border-width: 0.05%;
        border-color: black;
        border-radius: 5px;
        min-height: 150px;
        background-color: var(--standard_color);
    }

    #index a {
        width: clamp(20%,75%,75%);
        padding: clamp(0.5,5%);
        padding-bottom: 0.5%;
    }

    .index_site>* {
        text-align: center;
    }

    @media screen and (min-width: 720px) {
        #index {
            flex-direction: row;
        }
        .index_site {
            background-color: white;
        }
        .index_site:hover {
            background-color: var(--standard_color);
        }
    }