body{
    margin: 0%;
}
.info-area{
    width: 50%;
    margin: auto;
    background-color: rgb(241, 147, 147,0.2);
}
.info-area > *{
    padding-left: 2%;
    padding-bottom: 1%;

}
h1{
    margin: 1%;
}
h2{
    margin-bottom: 0%;
}
.info-area p{
    margin-top: 0%;
}