body {
    margin: 0%;
    background-color: rgb(236, 232, 232);
}

.info-area {
    margin: auto;
}

.info-area>* {
    padding-left: 2%;
    padding-bottom: 1%;
}

h1 {
    margin: 1%;
    padding-top: 1%;
}

h2 {
    margin-bottom: 0%;
}

.info-area p {
    margin-top: 0%;
}

a {
    color: black;
    text-decoration: none;
}